<!DOCTYPE HTML>
<html lang="ja">

<head>
  <title>TweetHistory</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="./assets/style.css" rel="stylesheet">
</head>

<body>
  <div id="tweetHistory" v-cloak>
    <nav class="navbar fixed-top navbar-light bg-light">
      <div class="container">
        <router-link v-bind:to="{path: '/'}">
          <a class="navbar-brand">My Tweets</a>
        </router-link>
        <div class="my-2 my-lg-0">
          <a class="searchLink" v-on:click="modal.show = !modal.show">Search</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div v-for="tweet in tweets" :key="tweet.id" class="item">

        <div class="tweetItem">
          <p>{{ tweet.full_text }}</p>
          <p class="tweetDate">{{ getDateTime(tweet) }}</p>
        </div>

        <hr>
      </div>

      <infinite-loading @infinite="infiniteHandler" ref="infiniteLoading"></infinite-loading>
    </div>

    <div class="modal" tabindex="-1" role="dialog" v-if="modal.show">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Search</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="closeModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input type="text" class="form-control" placeholder="Search Text" v-model="modal.query">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal" v-on:click="closeModal()">Cancel</button>
            <button type="button" class="btn btn-info" v-on:click="search()">Search</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://unpkg.com/vue-infinite-loading@^2/dist/vue-infinite-loading.js"></script>
  <script src="./assets/index.js"></script>
</body>

</html>