<!DOCTYPE HTML>
<html lang="ja">

<head>
  <title>TweetHistory</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue/dist/bootstrap-vue.min.css" />
  <link type="text/css" rel="stylesheet" href="./assets/style.css">
</head>

<body>
  <div id="tweetHistory" v-cloak>
    <b-navbar fixed="top" variant="light" toggleable="">
      <b-container>
        <b-navbar-brand :to="{path: '/'}">My Tweets</b-navbar-brand>
        <b-navbar-nav>
          <b-nav-text>{{ holdTweetCount }}/{{ allTweetCount }}</b-nav-text>
        </b-navbar-nav>
        <b-navbar-nav>
          <b-nav-item class="searchLink" v-b-modal.modal>Search</b-nav-item>
        </b-navbar-nav>
      </b-container>
    </b-navbar>

    <b-container>
      <div v-for="tweet in tweets" :key="tweet.id" class="item">

        <div class="tweetItem">
          <p>{{ getFullText(tweet, true) }}</p>

          <b-row v-if="hasPhoto(tweet)" class="medias">
            <b-col v-for="media in tweet.extended_entities.media">
              <b-link :href="media.media_url_https" target="_blank">
                <b-img :src="`${media.media_url_https}:thumb`" thumbnail fluid></b-img>
              </b-link>
            </b-col>
          </b-row>

          <b-row v-if="hasVideo(tweet)" class="medias">
            <b-col>
              <b-embed type="video" :aspect="getVideoAspect(tweet)" :src="getHiBitrateVideoUrl(tweet)"
                :poster="tweet.extended_entities.media[0].media_url_https" allowfullscreen controls preload="none">
              </b-embed>
            </b-col>
          </b-row>

          <p class="tweetDate">{{ getDateTime(tweet) }}</p>
        </div>

        <hr>
      </div>

      <infinite-loading @infinite="infiniteHandler" ref="infiniteLoading"></infinite-loading>
    </b-container>

    <b-modal id="modal" title="Search" ok-only ok-title="Search" ok-variant="info" @ok="search()"
      @shown="$refs.inputQuery.focus()">
      <b-form-input placeholder="Search Text" v-model="modal.query" ref="inputQuery"></b-form-input>
    </b-modal>

  </div>

  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue/dist/bootstrap-vue.min.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.min.js"></script>
  <script src="https://unpkg.com/vue-infinite-loading@^2/dist/vue-infinite-loading.js"></script>
  <script src="./assets/index.js"></script>
</body>

</html>