<!DOCTYPE HTML>
<html lang="ja">

<head>
  <title>TweetHistory</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue/dist/bootstrap-vue.min.css" />
  <link type="text/css" rel="stylesheet" href="./assets/style.css">
</head>

<body>
  <div id="tweetHistory" v-cloak>
    <b-navbar fixed="top" variant="light" toggleable="">
      <b-container>
        <b-navbar-brand :to="{path: '/'}">My Tweets</b-navbar-brand>
        <b-navbar-nav>
          <b-nav-item class="searchLink" v-b-modal.modal>Search</b-nav-item>
        </b-navbar-nav>
      </b-container>
    </b-navbar>

    <b-container>
      <div v-for="tweet in tweets" :key="tweet.id" class="item">

        <div class="tweetItem">
          <p>{{ tweet.full_text }}</p>
          <p class="tweetDate">{{ getDateTime(tweet) }}</p>
        </div>

        <hr>
      </div>

      <infinite-loading @infinite="infiniteHandler" ref="infiniteLoading"></infinite-loading>
    </b-container>

    <b-modal id="modal" title="Search" ok-only ok-title="Search" ok-variant="info" @ok="search()"
      @shown="$refs.inputQuery.focus()">
      <input type="text" class="form-control" placeholder="Search Text" v-model="modal.query" ref="inputQuery">
    </b-modal>

  </div>

  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue/dist/bootstrap-vue.min.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.min.js"></script>
  <script src="https://unpkg.com/vue-infinite-loading@^2/dist/vue-infinite-loading.js"></script>
  <script src="./assets/index.js"></script>
</body>

</html>