@charset "UTF-8";

[v-cloak] {
  display: none;
}

body {
  font-family:"メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3",Hiragino Kaku Gothic Pro,"ＭＳ Ｐゴシック",sans-serif;
  background: url('./dust_scratches.png');
  padding-top: 70px;
}

nav {
  border: 1px solid transparent;
  border-color: #e7e7e7;
}

.searchLink > a {
  color: #007bff !important;
  cursor: pointer;
}

.container > .item:nth-child(even) {
  background-color: #f9f9f9;
}
.container > .item:nth-child(odd) {
  background-color: #e9e9e9;
}

.tweetItem {
  padding: 0.6em 0.4em;
}
.tweetItem > p,
.modal-content .tweet p {
  margin: 0;
  white-space: pre-line;
  word-break: break-word;
}

.medias {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.tweetDate {
  text-align: right;
  font-size: 0.7em;
}

hr {
  margin: 0;
  border-top: 1px solid #bbb;
}

.linkbox {
  position: relative;
}
.linkbox a {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
}

.mouseOver:hover {
  background-color: #d6d6d6;
}

.modal-content .tweet .via {
  font-size: 0.7em;
  margin-top: 0.2em;
}
.modal-content .tweetOption {
  padding: 0.8em 0 0.8em 1.2em;
  cursor: pointer;
}
