@charset "UTF-8";

[v-cloak] {
  display: none;
}

body {
  font-family:"メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3",Hiragino Kaku Gothic Pro,"ＭＳ Ｐゴシック",sans-serif;
  background: url('./dust_scratches.png');
  padding-top: 70px;
}

.navbar {
  border: 1px solid transparent;
  border-color: #e7e7e7;
}

.router-link-exact-active,
.router-link-active {
  color: unset;
}

.searchLink {
  color: #007bff;
  cursor: pointer;
}

.container > .item:nth-child(even) {
  background-color: #f9f9f9;
}
.container > .item:nth-child(odd) {
  background-color: #e9e9e9;
}

.tweetItem {
  padding: 0.6em 0.4em;
}
.tweetItem > p {
  margin: 0;
  white-space: pre-line;
  word-break: break-word;
}

.tweetDate {
  text-align: right;
  font-size: 0.7em;
}

hr {
  margin: 0;
  border-top: 1px solid #bbb;
}

.modal {
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
}
